html,
body{
  background: rgb(234,234,234);
}

// -----------------------------------------

ul.my-breadcrumb {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 11px 0 0 0;
  padding: 0;
}
ul.my-breadcrumb i {
  font-size: 1.7em;
}
ul.my-breadcrumb li {
  float: left;
  margin-bottom: 11px;
}
ul.my-breadcrumb li a {
  color: #fff;
  display: block;
  background: rgb(60,132,118);
  text-decoration: none;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
ul.my-breadcrumb li:nth-child(even) a {
  background: rgb(60,132,118);
}
ul.my-breadcrumb li:nth-child(even) a:before {
  border-color: rgb(60,132,118);
  border-left-color: transparent;
}
ul.my-breadcrumb li:nth-child(even) a:after {
  border-left-color: rgb(60,132,118);
}
ul.my-breadcrumb li:first-child a {
  padding-left: 15px;
  border-radius: 2px 0 0 2px;
}
ul.my-breadcrumb li:first-child a:before {
  border: 0;
}
ul.my-breadcrumb li:last-child a {
  padding-right: 15px;
  border-radius: 0 2px 2px 0;
}
ul.my-breadcrumb li:last-child a:after {
  border: 0;
}
ul.my-breadcrumb li a:before,
ul.my-breadcrumb li a:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0 solid rgb(60,132,118);
  border-width: 17px 10px;
}
ul.my-breadcrumb li a:before {
  left: -15px;
  border-left-color: transparent;
}
ul.my-breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: rgb(60,132,118);
}
ul.my-breadcrumb li a:active {
  background: #484848;
}
ul.my-breadcrumb li a:active:before {
  border-color: #484848;
  border-left-color: transparent;
}
ul.my-breadcrumb li a:active:after {
  border-left-color: #484848;
}
body.desktop ul.my-breadcrumb a:hover {
  background: #555;
}
body.desktop ul.my-breadcrumb a:hover:before {
  border-color: #555;
  border-left-color: transparent;
}
body.desktop ul.my-breadcrumb a:hover:after {
  border-left-color: #555;
}